html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, details, figcaption, figure, footer, header, mark, meter, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: 0;
}
body{
    overflow-x:hidden;
    margin:0 auto;
}
.clearfix{
    zoom: 1;
}
.clearfix:before{
    display: table;
    content: "";
    height: 0;
}
.clearfix:after {
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}
img{
    /*display: block;*/
    vertical-align: top;
}
address, cite, dfn, em, var {
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*导航条*/
.nav{
    /*position: fixed;*/
    position: absolute;

    /*z-index: 2;*/
    width: 100%;
    z-index: 100;
    /*top: 0;*/
}
.nav-wrapper{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background: #24191b;
    margin: 0 auto;
    padding:0 30px;
    position: relative;
}
.nav-wrapper:before{
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}
.logo{
    display: inline-block;
    float: left;
    padding: 4px 0;
}
.logo-img{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top:-.4rem;
    left: 3%;
    width: 4.5rem;
    height: 4.5rem;
    border:3px solid #cccccc;
    display: block;
    border-radius: 50%;
    z-index: 100;
}
.title{
    position:relative;
    top:1.2rem;
    left:7%;
    color: #494c4d;
    line-height: 1;
    font-size: 24px;
    font-family: Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;
}
.theme-white .nav-link>li>a{
    color: #494c4d;
}
.theme-white .toggle .nav-link>li>a{
    color: #333;
}
.theme-white .nav-link>li>a.selected{
    color: #73a9af;
    text-decoration: underline;
}

.nav .nav-wrapper .nav-link>li>a:hover{
    color:#00cef8 !important;
}

.nav-link{
    display: inline-block;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    right:17%;
    top: -13px;
}
.nav-link>li{
    display: inline-block;
    float: left;
}

.nav-link>li>a {
    display: block;
    padding: 0 22px;
    line-height: 1.6;
    font-size: 26px;
    font-family: Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;
}
.nav-link>li>a:hover{
    text-decoration: underline;
}

.language{
    position: absolute;
    right: 5%;
}
.language span{
    margin: 0 10px;
}
.language span a{
    color: #494c4d;
    font-weight: bold;
}


h1{
    font-weight: bold;
    line-height: 3;
}

.title a{
    color: #73a9af;
}
.title a.selected{
    text-decoration: underline;
}

/*
    footer
*/
/*footer.page-footer{*/
    /*!*position: absolute;*!*/
    /*z-index:100;*/
    /*!*bottom:0;*!*/
/*}*/
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}

.light, footer.page-footer .footer-copyright {
    font-weight: 300;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.teal {
    background-color: #24191b !important;
}
.teal a {
    background-color: transparent;
}
.teal a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.teal a {
    text-decoration: none;
}
.brown-text.text-lighten-3 {
    color: #bcaaa4 !important;
}