html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, details, figcaption, figure, footer, header, mark, meter, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: 0;
}
body{
    overflow-x:hidden;
    margin:0 auto;
}
.clearfix{
    zoom: 1;
}
.clearfix:before{
    display: table;
    content: "";
    height: 0;
}
.clearfix:after {
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}
img{
    /*display: block;*/
    vertical-align: top;
}
address, cite, dfn, em, var {
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*轮播图*/
.silder{
    /*position: relative;*/
    /*top: 60px;*/
    margin-top: 60px;
}
.silder-wrapper{
    overflow: hidden;
    height: 760px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.silder .silder-wrapper .swipe{
    height: 760px;
    background-position: center 0;
    background-repeat: no-repeat;
    box-sizing: content-box;
    float: left;
}
.silder-banner1{
    background: url("../src/img/shouye_01.jpg") no-repeat;/*不支持image-set*/
    background-color: rgb(0, 0, 0);
}
.silder-banner2{
    background: url("../src/img/shouye_02.jpg") no-repeat;/*不支持image-set*/
    background-color: rgb(0, 0, 0);
}
.silder-banner3{
    background: url("../src/img/shouye_03.jpg") no-repeat;/*不支持image-set*/
    background-color: rgb(0, 0, 0);
}
.silder-Clist{
    width: 500px;

    padding: 0 10px;
    height: 20px;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -260px;
    bottom: -25%;
    text-align: center;
}

.swiper-pagination-switch{
    display: inline-block;
    zoom: 1;
    margin: 3px 8px;
    width: 42px;
    height: 3px;
    background: #fff;
    cursor: pointer;
    /*border-radius: 50%;*/
    /*border: 1px solid red;*/
}

.theme-white .swiper-pagination-switch{
    border-color: rgba(26, 26, 26, 0.75);
    background: rgba(26, 26, 26, 0.75);
}

.theme-white .pagination-active{
    background: #808080 ;
}

/*导航条*/
.nav{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}
.nav-wrapper{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
    padding:0 10px;
    position: relative;
}
.nav-wrapper:before{
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}
.logo{
    display: inline;
    float: left;
    padding: 4px 0;
}
.logo-img{
    position: fixed;
    top:-.4rem;
    left: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
    border-radius: 50%;
}
.title{
    position:relative;
    color: #ffffff;
    top:1.2rem;
    left:5rem;
    line-height: 1;
    font-size: 24px;
    font-family: Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;
}
.nav-link{
    display: inline;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: -10px;
}
.nav-link>li{
    display: inline;
    float: left;
}
.nav-link>li.selected{
    text-decoration: underline;
}
.nav-link>li>a {
    display: block;
    padding: 0 22px;
    line-height: 2;
    font-size: 20px;
    font-family: Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;
}
.header .toggle{
    background: #fff;
}
.theme-gray .nav-link>li>a{
    color: #333;
}
.theme-white .nav-link>li>a{
    color: #fff;
}
.theme-white .toggle .nav-link>li>a{
    color: #333;
}
.theme-gray .toggle .nav-link>li>a{
    color: #333;
}
.nav .nav-wrapper .nav-link>li>a:hover{
    color:#00cef8 !important;
}

.nav-title{
    /*height: 300px;*/
    width:100%;
    background: #ffffff;
    color: #000;
    /*position: relative;*/
    /*top: 88px;*/
    /*margin-top: 60px;*/
    text-align: center;
}
h1{
    font-weight: bold;
    line-height: 3;
}
.ps{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:450px;
}
.ps-left{
    background: #cccccc;
    float: left;
}
.ps-right{
    background: #f5abab;
    float: right;
}

.video{
    /*height: 300px;*/
    width:100%;
    background: #ffffff;
    color: #000;
    /*position: relative;*/
    /*top: 88px;*/
    margin-top: 88px;
    text-align: center;
}
.video-Clist{
    width: 500px;
    padding: 0 10px;
    height: 20px;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -260px;
    bottom: 10px;
    text-align: center;
}

.video-pagination-switch{
    display: inline-block;
    zoom: 1;
    margin: 3px 8px;
    width: 42px;
    height: 3px;
    background: #fff;
    cursor: pointer;
    /*border-radius: 50%;*/
    /*border: 1px solid red;*/
}

.theme-white .video-pagination-switch{
    border-color: rgba(26, 26, 26, 0.75);
    background: rgba(26, 26, 26, 0.75);
}

.theme-white .pagination-active{
    background: #808080 ;
}
.video-silder{

}
.video-slider-wrapper{
    overflow: hidden;
    height: 600px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.video-silder .video-slider-wrapper .video-swipe{
    height: 600px;
    background-position: center 0;
    background-repeat: no-repeat;
    box-sizing: content-box;
    float: left;
}
.video1{
    width:100%;
    background: url("../src/img/cans_bg.jpg") no-repeat;/*不支持image-set*/
    overflow: hidden;
}
.video2{
    width:100%;
    background: url("../src/img/jgj_bg.png") no-repeat;/*不支持image-set*/
    overflow: hidden;
}
.video3{
    width:100%;
    background: url("../src/img/su_bg.jpg") no-repeat;/*不支持image-set*/
    overflow: hidden;
}

.video-left img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width:48%;
    height: 600px;
    margin-right: 1rem;
}
.video-right{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width:47%;
}
.video-right img{
    width:90%;
}

