.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 48%;
    left:97%;
    text-align: center;
    z-index:100;
}

.flex-control-nav li {
    margin: 20px 8px;
    display: block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    /*background: url(../src/images/dot.png) no-repeat 0 -16px;*/
    background: rgba(26, 26, 26, 0.75);

    display: block;
    height: 15px;
    overflow: hidden;
    text-indent: -99em;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    /*background-position: 0 0;*/
    background: #cccccc;
}
.flexslider .slides a{
    /*position: relative;*/
}
.flexslider .slides a img {
    /*width: 100%;*/
    /*height: 750px;*/
    /*display: block;*/
    /*position: relative;*/

}
.flexslider .slides .video-window{
    position: relative;
    /*top:-80%;*/
    /*top:0;*/
    /*right:0;*/
    height: 850px;
    overflow: hidden;

}
.jieguangji{
    background: url(../src/img/jieguangji_bg.jpg) no-repeat center;
    padding:1%;
    padding-top:3%;
}
.jieguangji-img{
    position: relative;
    left:1%;
    /*width: 1000px;*/
    width:52%;
    float: left;
    display: inline-block;

    /*z-index: 1;*/
}
.jieguangji-img img{
    width:100%;
    height:100%;
}
.jieguangji-play{
    position: relative;
    display: inline-block;
    float: right;
    width:40%;
    right:5%;
}

.trace{
    background: url(../src/img/trace_bg.jpg) no-repeat center;
    padding:1%;
}
.trace-play{
    position: relative;
    left:10%;
    display: inline-block;
    float: left;
    width:43%;
}
.trace-img{
    position: relative;
    display: inline-block;
    margin-top: 1%;
    float: left;
    width:63%;
}

.cans{
    background: url(../src/img/cans_bg.jpg) no-repeat center;
    padding:1%;
}
.cans img{
    width:100%;
    height:100%;
}
.cans-img{
    position: relative;
    left:1%;
    width:52%;
    float: left;
    display: inline-block;
}
.cans-play{
    position: relative;
    display: inline-block;
    float: right;
    width:40%;
    right:5%;
}